<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
  <span><%= t('.heading') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <%= render 'form' %>

  <div id="search-results">
    <%= render partial: 'dreambook/results', locals: { collection: @results } %>
  </div>
</article>
