<% content_for :meta_title, t('.title', pattern: @entity.title) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('dreambook.search.heading'), search_path) %>
  <span><%= @entity.title %></span>
<% end %>

<article class="dreambook">
  <h1><%= @entity.title %></h1>

  <div>
    <%= prepare_pattern_text(@entity) %>
  </div>
</article>
