<%
  letters = %w[а б в г д е ё ж з и й к л м н о п р с т у ф х ц ч ш щ ы э ю я]
  current_letter ||= ''
%>
<nav class="letters">
  <div>
    <% letters.each do |letter| %>
      <% if current_letter == letter %>
        <span><%= letter %></span>
      <% else %>
        <%= link_to(letter, wiki_path(letter: letter)) %>
      <% end %>
    <% end %>
  </div>
</nav>
