:focus {
  outline: none;
}

body {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

@import "application/header";
@import "application/footer";
@import "components/carousel";
@import "application/homepage";
@import "application/patterns";
